.list {
    width: 100%;
    display: block;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block>* {
    width: 55%;
}

.block>button {
    width: 35%;
}